@model CRM.BusinessModels.ParameterVM.EmailModel
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts CSS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">

    <title>Sensyrtech - Email</title>
</head>
<body style="-webkit-font-smoothing: antialiased; font-smoothing: antialiased;">
    <table width="600" cellpadding="0" cellspacing="0" bgcolor="#f8f9fe" style="margin: auto; position: relative;">
        <thead>
            <tr>
                <th style="background: #404179; padding: 32px 0;" valign="top">
                    <!-- Logo -->
                    <img src="https://i.ibb.co/4gJYfRF/emailer-logo.png" alt="emailer-logo" border="0" width="127">
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <table cellspacing="0" cellpadding="0" style="background: #ffffff; border-radius: 8px; box-shadow: 0px 2px 8px 0px rgba(112, 112, 165, 0.14); line-height: 1.6; max-width: 95%; margin: 12px auto 0;">
                        <tr>
                            <td>
                                <h1 style="color: #4abb7c; font-size: 32px; font-family: 'Inter', sans-serif; font-weight: bold; text-align: center; padding: 24px 0; margin: 0; background-color: #EAFAF1; background-image: url(https://i.ibb.co/HBXM7td/alarm-stable-bg.png); background-position: right 20px; background-repeat: no-repeat; background-size: contain;">
                                    <img src="https://i.ibb.co/5Bjpbn9/alarm-stable.png" width="28" style="display: inline-block; vertical-align: middle;">&nbsp; Assignment Resolved
                                </h1>

                                <table cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td style="color: rgb(64, 65, 121); font-family: 'Inter', sans-serif; font-size: 16px; font-weight: normal; padding: 32px; line-height: 1.6;">
                                            Hey @Model.EmailButtons[2].BtnName,<br /><br />
                                            We wanted to inform you that @Model.EmailButtons[0].BtnName resolved their assignment on the asset. Please find the details below:
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding: 0 32px 32px;">
                                            <table cellpadding="0" cellspacing="0" style="color: rgb(64, 65, 121); border: 1px solid #B1B1C7; border-radius: 4px; overflow: auto; font-family: 'Inter', sans-serif; font-size: 14px; font-weight: normal; width: 100%;">
                                                <tr>
                                                    <td style="padding: 12px; border-bottom: 1px solid #B1B1C7; border-right: 1px solid #B1B1C7;">Asset Name</td>
                                                    <td style="padding: 12px; border-bottom: 1px solid #B1B1C7;"><b>@Model.EmailButtons[0].BtnLink</b></td>
                                                </tr>
                                                
                                                <tr>
                                                    <td style="padding: 12px; border-bottom: 1px solid #B1B1C7; border-right: 1px solid #B1B1C7;">Resolved on</td>
                                                    <td style="padding: 12px; border-bottom: 1px solid #B1B1C7;"><b>@Model.EmailButtons[0].BtnBgColor</b></td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 12px; border-right: 1px solid #B1B1C7;">Assignment Description</td>
                                                    <td style="padding: 12px;"><b>@Model.EmailButtons[1].BtnName</b></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="background: rgb(245, 246, 250); border-radius: 0px 0px 8px 8px; padding: 16px; text-align: center; font-family: 'Inter', sans-serif; color: rgb(112, 112, 165); font-size: 14px;">
                                            In case of difficulty please contact us: <a href="mailto:support@sensyrtech.com">support@sensyrtech.com</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>


                    </table>
                </td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td style="padding: 32px;">
                    <ul style="list-style: none; padding-left: 0; display: block; text-align: center;">
                        <li style="display: inline-block; vertical-align: middle; margin-right: 10px;">
                            <a href="#">
                                <img src="https://i.ibb.co/B6t60YX/linkedin.png" alt="linkedin" border="0" width="35">
                            </a>
                        </li>
                        <li style="display: inline-block; vertical-align: middle; margin-right: 10px;">
                            <a href="#">
                                <img src="https://i.ibb.co/N30txjF/twitter.png" alt="twitter" border="0" width="35">
                            </a>
                        </li>
                        <li style="display: inline-block; vertical-align: middle;">
                            <a href="#">
                                <img src="https://i.ibb.co/Yh5P3rj/youtube.png" alt="youtube" border="0" width="35">
                            </a>
                        </li>
                    </ul>

                    <p style="color: rgb(112, 112, 165); text-align: center; font-size: 12px; font-family: 'Inter', sans-serif;">Copyright &copy; 2020 Sensyrtech, All rights reserved.</p>
                </td>
            </tr>
        </tfoot>
    </table>
</body>
</html>